@use "../abstract/variables" as*;
@use "../abstract/mixins" as *;



.promotion {

    @include flex-center;
    background-color: $background-promotion;
    margin: 90px 20px;
    padding: 50px;

    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;

        &__card--club {
            background-image: url("/images/article-image-1.jpg");

        }

        &__card--actus {
            background-image: url("/images/article-image-2.jpg");
        }
    }


    &__card {
        width: 90%;
        border-radius: 10px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 10px 0px;

        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
            width: 80%;
            height: 350px;
            margin: 10px;
        }
    }

    &__card--club {
        background-image: url("/images/article-image-1.jpg");
    }

    &__card--actus {
        background-image: url("/images/article-image-2.jpg");

    }

    &__content {
        @include flex-center;
        background-color: white;
        width: 30%;

        @media (min-width: 768px) {
            border: 2px solid black;
            width: 40%;

        }
    }


    &__title {
        border-bottom: 2px solid gray;
        padding: 40px;
    }

    &__description {
        width: 50%;
        text-align: center;
        margin: 15px 0px;
    }


    &__button {
        background-color: $framboise;
        color: $white;
        border-radius: 5px;
        padding: 15px 30px;
        border: none;
        margin: 20px 0px;
    }

}