@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;


.quality {
    @include flex-center;
    margin-top: 2rem;
    gap: 1rem;

    @media (min-width: 768px) {
        flex-direction: row;
    }

    &_content {
        @include flex-center;
        justify-content: space-around;
    }

    &_image {
        width: 60px;
        height: 60px;
    }

    &__subtitle {
        color: $font-color;
        font-weight: bold;
        font-size: 1.6rem;
    }

    &__description {
        font-size: 0.6rem;
        text-align: center;

        @media (min-width: 768px) {
            font-size: 0.8rem;
            max-width: 75%;
        }
    }
}