@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;



.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    

}

.header__title {

    display: flex;
    flex-direction: row;
    gap: 0px 8px;

    &-span {
        color: $framboise;
    }
}

.header__navbar {

    li {
        flex-wrap: nowrap;
        display: inline-block;
        margin: 10px;
    }

}

@media (min-width: 1024px) {
    .header{

   display: flex;
   flex-direction: row;
   justify-content: start;
   align-items: start;
   margin:50px;
   padding: 50px;


&__title{
    display: flex;
    flex-direction: row;
    justify-content: center;

}



.header__navbar {

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-end;
    align-self: flex-end;
    margin: 20px 0px;
}



}
}