@use "../abstract/variables" as *;






// mixin 
@mixin flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@mixin button {
    background-color: $framboise;
    color: $white;
    border-radius: 5px;
    padding: 15px 30px;
    border: none;
}

